<header class="header">
  <div class="header-inner">

      <!-- 左侧菜单 -->
      <nav class="nav-left">
          <div class="nav-item">
              <a href="collection.html">Collection</a>
              <div class="dropdown">
                  <a href="product-fruit plate.html">Fruit Plate</a>
                  <a href="product-knife holder.html">Knife holder</a>
                  <a href="#">Knife sharpener</a>
              </div>
          </div>

          <div class="nav-item">
              <a href="#">Inspiration</a>
              <div class="dropdown">
                  <a href="storys&news.html">Stories and News</a>
                  <a href="#">Newsletter</a>
                  <a href="#">Materials</a>
              </div>
          </div>
          <div class="nav-item">
             <a href="design.html">Design</a>
          </div>
      </nav>

      <!-- 中间 Logo -->
      <div class="logo">
          <a href="index.html">SEEPURE<sup style="font-size: 0.7em;">®</sup></a>
      </div>

      <!-- 右侧菜单 -->
      <nav class="nav-right">
          <a href="professional.html">Professional</a>
          <a href="about.html">About</a>
          <a href="contact.html">Contact</a>
          <a href="#" class="icon"></a>
          <a href="#" class="icon-btn"><img src="https://cdn.jsdelivr.net/gh/yytdesign/webtu/yytu/spicon.png" alt=""></a>
      </nav>
       <!-- 手机按钮 -->

       <button class="menu-toggle" aria-label="Open Menu">
        ☰
       </button>

     <!-- 手机菜单 -->
      <div class="mobile-overlay"></div>
      <div class="mobile-menu">

          <a href="collection.html">Collection</a>
          <a href="design.html">Design</a>
          <a href="storys&news.html">Stories & News</a>
          <a href="professional.html">Professional</a>
          <a href="about.html">About</a>
          <a href="contact.html">Contact</a>
      </div>
      
    </div>
</header>