<header class="header">
    <div class="header-inner">

        <!-- 左侧菜单 -->
        <nav class="nav-left">
            <div class="nav-item">
                <a href="collection.html">产品</a>
                <div class="dropdown">
                    <a href="product-fruit plate.html">Fruit Plate</a>
                    <a href="product-knife holder.html">Knife holder</a>
                    <a href="#">Knife sharpener</a>
                </div>
            </div>

            <div class="nav-item">
                <a href="#">灵感</a>
                <div class="dropdown">
                    <a href="storys&news.html">故事&创意</a>
                    <a href="#">最新动态</a>
                    <a href="#">材料工艺</a>
                </div>
            </div>
            <div class="nav-item">
                <a href="design.html">设计</a>
            </div>
        </nav>

        <!-- 中间 Logo -->
        <div class="logo">
            <a href="../cn/index.html">SEEPURE<sup style="font-size: 0.7em;">®</sup></a>
        </div>

        <!-- 右侧菜单 -->
        <nav class="nav-right">
            <a href="professional.html">材料</a>
            <a href="about.html">关于石朴</a>
            <a href="contact.html">合作</a>
            
            <a href="../index.html" class="icon-btn"><img src="https://cdn.jsdelivr.net/gh/yytdesign/webtu/yytu/spicon.png"
                    alt=""></a>
        </nav>
        <!-- 手机按钮 -->

        <button class="menu-toggle" aria-label="Open Menu">
            ☰
        </button>

        <!-- 手机菜单 -->
        <div class="mobile-overlay"></div>
        <div class="mobile-menu">

            <a href="../cn/collection.html">产品</a>
            <a href="../cn/design.html">设计</a>
            <a href="../cn/storys&news.html">故事&创意</a>
            <a href="../cn/professional.html">材料</a>
            <a href="../cn/about.html">关于石朴</a>
            <a href="../cn/contact.html">合作</a>
            <a href="../index.html">EN</a>
        </div>

    </div>
</header>